header, footer, nav {
    background-color:#212121;
    position:fixed;
    z-index:100;
}
header, footer {
    width:100%;
}

/* 
 * header
 *-----------------------------------------------------------------------------*/
header {
    top:0;
    height:78px;
}
header h1, header h3{
	text-align:center;
	font-family: 'Raleway', sans-serif;
	color:#CC00FF;
	margin: 1px 2px;
}
header h1{
    font-size:36px;
	font-weight: 100;
}
header h3{
	font-size: 12px;
	letter-spacing: 8px;
	margin-left:24px;
}
header a:first-child{
	float:left;
	margin-right: 18px;
	font-size: 12px;
}
header a{
	float:right;
	font-size: 12px;
}

/* 
* Footer
 *-----------------------------------------------------------------------------*/
footer {
	background-color: #ccc;
	height: 15px; 
	bottom: 0px;
	text-align: center;
}

footer a:first-child{
	float:left;
	margin-right: 18px;
	font-size: 12px;
}
footer img{
	border-style: none;
}
footer a:first-child img{
}

/* 
* corps
 *-----------------------------------------------------------------------------*/
#corps {
	padding: 78px 0 15px;
}
